<mat-toolbar> Calender </mat-toolbar
><mat-card>
  <div class="doctor p-20" FxLayout="row" fxLayoutAlign="space-between center">
    <div
      class="message-widget contact-widget"
      FxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <!-- Image Docter -->
      <div class="docter-img">
        <img
          src="./assets/images/users/user-1.jpg"
          alt="user"
          class="img-circle"
        />
      </div>
      <!-- Docter Details -->
      <div class="mail-contnet">
        <h5>Imed Akrrouti</h5>
        <span class="mail-desc">imed.akrouti@gmail.com</span>
      </div>
    </div>
    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input class="search-input" placeholder="Search..." />
    </div>
  </div>
</mat-card>
<full-calendar [options]="calendarOptions"></full-calendar>
