<mat-card class="profile-content">
  <mat-card-content>
    <div class="item-content">
      <img src="./assets/images/users/user-1.jpg" mat-card-avatar />
      <div class="item-box">
        <div class="description">
          <h3 class="name">ABC</h3>
          <span class="age">3ans </span>
        </div>
    </div>
    </div>
    <div class="children-detail">
        <h4 class="address">العنوان</h4>
        <div class="date">
        <span class="">10 Sep 2019</span>
        <span class="">11:29AM</span>
    </div>
    </div>
    </mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions>
     <a class="card-button card-button-left">تحويل</a>
    <a  class="card-button">تاكيد </a>
</mat-card-actions>
</mat-card>
