<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="end">
    <p class="chart-title">عدد الأطفال المنخرطين</p>
  </mat-card-title>
  <mat-card-content>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [dataLabels]="chartOptions.dataLabels"
      [colors]="chartOptions.colors"
    ></apx-chart>
    <div class="labels">
      <p class="label-number">3,137</p>
      <p class="label-title" fxLayoutAlign="">
        2.3% <i class="fa-regular fa-arrow-up"></i>
      </p>
    </div>
  </mat-card-content>
</mat-card>
