<p class="page-title">
  المواعيد
  <i class="fa fa-user"></i>
</p>
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-children></app-children>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-meeting></app-meeting>
  </div>
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-cancelledcases></app-cancelledcases>
  </div>
  <!-- column -->
  <div
    class="charts"
    fxFlex.gt-lg="25"
    fxFlex.gt-md="25"
    fxFlex.gt-xs="50"
    fxFlex="100"
  >
    <app-fullcases></app-fullcases>
  </div>
  <!-- column -->
</div>

<div class="box" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div>
    <p class="cases">اليوم <span class="number-cases">(10)</span></p>
    <a href="" class="btn-outline-primary ml-3">الماضية </a
    ><a href="" class="btn-outline-primary"> المقبلة</a>
  </div>
  <div>
    <a href="" class="btn-outline-primary ml-3">التاريخ</a>
    <span class="dots">:</span>صنف حسب
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
</div>
