<app-header> </app-header
><mat-sidenav-container class="example-sidenav-container">
  <!-- Page container - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="page-wrapper">
    <div class="page-content">
      <router-outlet> <!-- <app-spinner></app-spinner> --> </router-outlet>
    </div>
  </mat-sidenav-content>
  <!-- ============================================================== -->
  <!-- Page container - style you can find in pages.scss -->
  <!-- ============================================================== -->
</mat-sidenav-container>
