<button class="notification-button" [matMenuTriggerFor]="bell">
  <mat-icon
    matBadge="4"
    matBadgeColor="warn"
    matBadgeSize="small"
    class="notification-button__icon"
    >notifications_none</mat-icon
  >
</button>
<mat-menu #bell="matMenu" xPosition="before" class="notification-menu">
  <span class="notificationTitle">Notification</span>
  <mat-divider></mat-divider>
  <a href="" mat-menu-item class="notification-menu__button">
    <mat-icon class="notification-menu__icon_yellow">local_offer</mat-icon>Check
    out this awesome ticket
  </a>
  <mat-divider></mat-divider>
  <a href="" mat-menu-item class="notification-menu__button">
    <mat-icon class="notification-menu__icon_green">thumb_up</mat-icon>What is
    the best way to get ...
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item href="#" class="notification-menu__button">
    <mat-icon class="notification-menu__icon_pink">notifications_none</mat-icon
    >This is just a simple notification
  </a>
  <mat-divider></mat-divider>
  <a href="" mat-menu-item class="notification-menu__button">
    <mat-icon class="notification-menu__icon_blue">local_grocery_store</mat-icon
    >12 new orders has arrived today
  </a>
  <mat-divider></mat-divider>
  <a href="" mat-menu-item class="moreNotification">More Notification</a>
</mat-menu>
