mat-card {
  margin: 16px;
}
.profile-content {
  background: #17eb1e0d;
}
.profile-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile-content {
  /*  display: flex;
  align-items: center;
  justify-content: space-between; */
}
.status {
  text-align: center;
  color: rgb(141, 138, 133);
}
.item {
  display: flex;
  justify-content: space-between;
}
.item .description span {
  padding-left: 30px;
}
.details mat-list mat-list-item {
  height: 30px;
  padding: 0;
}
.details .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}
.mat-list-item-content {
  padding: 0 !important;
}
